NodeRED/NodeRED.js
[{"id":"a709bd29.7d36a","type":"inject","z":"42921a07.479624","name":"Get Sunrise Data Trigger","topic":"","payload":"","payloadType":"date","repeat":"7200","crontab":"","once":true,"x":130,"y":60,"wires":[["cd2a9a92.463ec8"]]},{"id":"cd2a9a92.463ec8","type":"http request","z":"42921a07.479624","name":"Sunrise","method":"GET","ret":"obj","url":"https://api.sunrise-sunset.org/json?lat=34.900973&lng=-82.012395&date=today&formatted=0","tls":"","x":375.99999237060547,"y":59.9999885559082,"wires":[["8a564a87.0b7688"]]},{"id":"c04b4e94.334ac","type":"function","z":"42921a07.479624","name":"Set Auto Brightness","func":"var chainVals = JSON.parse(global.get(\"DefVal\"));\nvar d = new Date();\nvar Brightness = 0;\nvar dayEvents = [\n    ((d - global.get(\"SolarNoon\")) / 3600000)+12.5,\n    (d - global.get(\"TL_Start\")) / 3600000,\n    (d - global.get(\"Sunrise\")) / 3600000,\n    (d - global.get(\"Sunset\")) / 3600000,\n    (d - global.get(\"TL_End\")) / 3600000\n    ]\nvar nextEvent = 0;\nfor (var i = 0; i<5; i++)\n{\n    if (dayEvents[i] > 0)\n      dayEvents[i] -=24\n}\nfor (var i = 0; i<5; i++)\n{\n    if (dayEvents[i] > dayEvents[nextEvent])\n      nextEvent = i;\n}\n\nswitch (nextEvent)\n{\n    case 0: //Midnight\n        {\n            if (dayEvents[0] < -0.25)\n                Brightness = 255;\n            else\n                Brightness = Math.max(Math.round(1000*Math.abs(dayEvents[0])), 22);\n            break;\n        }\n    case 1: //TL_Start\n        {\n            Brightness = 22;\n            break;\n        }\n    case 2: //Sunrise\n        {\n            Brightness = 22;\n            break;\n        }\n    case 3: //Sunset\n        {\n            if (dayEvents[3] < -0.5)\n            {\n                Brightness = 0;\n            }\n            else\n            {\n                Brightness = 255 - Math.min(Math.round(500*Math.abs(dayEvents[3])), 255);\n            }\n            break;\n        }\n    case 4: //TL_End\n        {\n            Brightness = 255; \n            break;\n        }\n}\n\nchainVals.DayBright = Brightness;\nglobal.set(\"DefVal\", JSON.stringify(chainVals));\nvar retMsg = {payload: chainVals.DayBright};\nreturn [retMsg];\n","outputs":1,"noerr":0,"x":389,"y":193.2221794128418,"wires":[["db3ecac0.e15d68","cd40f698.1f7248"]]},{"id":"64da3205.df5d2c","type":"delay","z":"42921a07.479624","name":"","pauseType":"delay","timeout":"1","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":756.9999923706055,"y":452.9999694824219,"wires":[["10eaa2a9.99e2dd"]]},{"id":"7c8253aa.a312fc","type":"delay","z":"42921a07.479624","name":"","pauseType":"delay","timeout":"6","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":768.0000076293945,"y":400.9999885559082,"wires":[["10eaa2a9.99e2dd"]]},{"id":"cd40f698.1f7248","type":"function","z":"42921a07.479624","name":"Msg Generator","func":"var newMsg = JSON.parse(global.get(\"DefVal\"));\nvar myBrightness = newMsg.DayBright;\nvar myPattern;\n\nfunction getPayloadStr(chainIndex)\n{\n    var thisChain =  newMsg.LEDChains[chainIndex];\n    switch (newMsg.WorkMode)\n    {\n        case -1: myPattern = thisChain.Pattern; break;\n        case 0: myPattern = 99; break;\n        default: myPattern = thisChain.Pattern; myBrightness = thisChain.Brightness; break;\n    }\n    var payldMsg = \"http://\" + thisChain.IP + \"/ajax_inputs&Pattern=\" + myPattern + \"&Brightness=\" + myBrightness + \"&ShiftRate=\" + thisChain.ShiftRate + \"&SplitChain=\" + thisChain.SplitChain + \"&InsideOut=\" + thisChain.InsideOut + \"&SelectSparks=\" + thisChain.SelectSparks + \"&RGB=\" + thisChain.RGB;\n    return payldMsg;\n}\n\nvar outMsg0 = {payload:getPayloadStr(0)};\nvar outMsg1 = {payload:getPayloadStr(1)};\nvar outMsg2 = {payload:getPayloadStr(2)};\nreturn [outMsg0, outMsg1, outMsg2];","outputs":"3","noerr":0,"x":564.7060012817383,"y":401.8940887451172,"wires":[["c4183934.627e18"],["7c8253aa.a312fc"],["64da3205.df5d2c"]]},{"id":"8e7daf8d.6681e","type":"debug","z":"42921a07.479624","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1320.367961883545,"y":401.09007358551025,"wires":[]},{"id":"10eaa2a9.99e2dd","type":"change","z":"42921a07.479624","name":"","rules":[{"t":"set","p":"url","pt":"msg","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":962.372673034668,"y":401.23580837249756,"wires":[["72cf55de.69fb8c","8e7daf8d.6681e"]]},{"id":"72cf55de.69fb8c","type":"http request","z":"42921a07.479624","name":"","method":"GET","ret":"obj","url":"","tls":"","x":1103.5902099609375,"y":289.9255065917969,"wires":[["8e7daf8d.6681e"]]},{"id":"c4183934.627e18","type":"delay","z":"42921a07.479624","name":"","pauseType":"delay","timeout":"11","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":776.3679237365723,"y":353.5942907333374,"wires":[["10eaa2a9.99e2dd"]]},{"id":"8a564a87.0b7688","type":"function","z":"42921a07.479624","name":"Store Sunrise Data","func":"var d = new Date;\nvar Pattern = 99;\nvar sunrise = new Date(msg.payload.results.sunrise)\nvar sunset = new Date(msg.payload.results.sunset)\nvar tl_start = new Date(msg.payload.results.civil_twilight_begin)\nvar tl_end = new Date(msg.payload.results.civil_twilight_end)\nvar solarnoon = new Date(msg.payload.results.solar_noon)\nglobal.set(\"Sunrise\", sunrise)\nglobal.set(\"Sunset\", sunset)\nglobal.set(\"TL_Start\", tl_start)\nglobal.set(\"TL_End\", tl_end)\nglobal.set(\"SolarNoon\", solarnoon)\n\nreturn msg","outputs":"1","noerr":0,"x":587.0141448974609,"y":60.02358055114746,"wires":[["45acd2f9.f30d2c"]]},{"id":"45acd2f9.f30d2c","type":"debug","z":"42921a07.479624","name":"","active":false,"tosidebar":true,"console":false,"complete":"false","x":848.3679161071777,"y":60.03773307800293,"wires":[]},{"id":"746723a7.95a6ec","type":"inject","z":"42921a07.479624","name":"Update Node Trigger","topic":"","payload":"","payloadType":"date","repeat":"180","crontab":"","once":false,"x":133.367919921875,"y":193.18869018554688,"wires":[["c04b4e94.334ac"]]},{"id":"d62d7608.c5dbf8","type":"ui_dropdown","z":"42921a07.479624","name":"","label":"Select Mode","place":"Select option","group":"7d1b0c01.98bf34","order":1,"width":0,"height":0,"passthru":true,"options":[{"label":"ON","value":1,"type":"num"},{"label":"OFF","value":0,"type":"num"},{"label":"AUTO","value":-1,"type":"num"}],"payload":"","topic":"Mode","x":414.79261016845703,"y":562.0937356948853,"wires":[["3d930d6d.e3f122"]]},{"id":"141251d8.21f74e","type":"ui_slider","z":"42921a07.479624","name":"Brightness","label":"Brightness","group":"7d1b0c01.98bf34","order":5,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"255","step":1,"x":414.7869110107422,"y":625.065315246582,"wires":[["5ac51544.3987cc"]]},{"id":"f799c59a.6a6018","type":"debug","z":"42921a07.479624","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","x":1110.7811889648438,"y":602.6903076171875,"wires":[]},{"id":"3d930d6d.e3f122","type":"function","z":"42921a07.479624","name":"Store Mode","func":"var chainVals = JSON.parse(global.get(\"DefVal\"));\nchainVals.WorkMode = msg.payload;\nglobal.set(\"DefVal\", JSON.stringify(chainVals));\nreturn msg;","outputs":1,"noerr":0,"x":619.7869110107422,"y":562.886360168457,"wires":[["f799c59a.6a6018"]]},{"id":"5ac51544.3987cc","type":"function","z":"42921a07.479624","name":"Store Brightness","func":"var chainVals = JSON.parse(global.get(\"DefVal\"));\nfor (var i = 0; i < chainVals.LEDChains.length; i++)\n  if ((chainVals.CurrChain == -1) || (chainVals.CurrChain == i))\n        chainVals.LEDChains[i].Brightness = msg.payload;\nglobal.set(\"DefVal\", JSON.stringify(chainVals));\nnewMsg = {payload:chainVals}\nreturn newMsg;","outputs":1,"noerr":0,"x":634.7897338867188,"y":624.88916015625,"wires":[["f799c59a.6a6018"]]},{"id":"dae9d9be.c09e18","type":"function","z":"42921a07.479624","name":"Retrigger","func":"var d = Date.now();\nmsg.payload = d;\nreturn msg;","outputs":1,"noerr":0,"x":169.79261779785156,"y":259.87784576416016,"wires":[["c04b4e94.334ac"]]},{"id":"63865d14.c36f34","type":"ui_dropdown","z":"42921a07.479624","name":"ProgramSelect","label":"Program Select","place":"Select option","group":"7d1b0c01.98bf34","order":3,"width":0,"height":0,"passthru":true,"options":[{"label":"USA","value":0,"type":"num"},{"label":"Switzerland","value":1,"type":"num"},{"label":"Colombia","value":2,"type":"num"},{"label":"Rainbow","value":3,"type":"num"},{"label":"Halloween","value":4,"type":"num"},{"label":"Christmas","value":5,"type":"num"},{"label":"Constant Color","value":6,"type":"num"},{"label":"Valentines Day","value":7,"type":"num"},{"label":"Fire","value":8,"type":"num"},{"label":"Confetti","value":9,"type":"num"},{"label":"Sinelon","value":10,"type":"num"},{"label":"BPM","value":11,"type":"num"},{"label":"Juggle","value":12,"type":"num"},{"label":"All Dark","value":98,"type":"num"}],"payload":"","topic":"","x":412,"y":677,"wires":[["1cce92c0.44330d"]]},{"id":"1cce92c0.44330d","type":"function","z":"42921a07.479624","name":"Store Program","func":"var chainVals = JSON.parse(global.get(\"DefVal\"));\nfor (var i = 0; i < chainVals.LEDChains.length; i++)\n  if ((chainVals.CurrChain == -1) || (chainVals.CurrChain == i))\n        chainVals.LEDChains[i].Pattern = msg.payload;\nglobal.set(\"DefVal\", JSON.stringify(chainVals));\nmsg = {payload:JSON.stringify(chainVals)};\nreturn msg;\n","outputs":1,"noerr":0,"x":623,"y":675,"wires":[["f799c59a.6a6018"]]},{"id":"e00fabea.38a4a8","type":"ui_dropdown","z":"42921a07.479624","name":"ChainSelect","label":"Select Chain","place":"Select Chain","group":"7d1b0c01.98bf34","order":2,"width":0,"height":0,"passthru":true,"options":[{"label":"Roof","value":0,"type":"num"},{"label":"Driveway","value":1,"type":"num"},{"label":"Attic","value":2,"type":"num"},{"label":"Broadcast","value":-1,"type":"num"}],"payload":"","topic":"","x":418,"y":722,"wires":[["2e9933c5.4f697c"]]},{"id":"1566c06c.9423a","type":"function","z":"42921a07.479624","name":"Create Default","func":"global.set(\"DefVal\", '{\"CurrChain\": -1,\"WorkMode\": -1,\"MasterPattern\":99, \"DayBright\": 0,\"LEDChains\": [{\"IP\": \"192.168.87.61\",\"Pattern\": 99,\"ShiftRate\": 5,\"SplitChain\": false,\"InsideOut\": false,\"SelectSparks\": false,\"RGB\": 0,\"Brightness\": 255},{\"IP\": \"192.168.87.62\",\"Pattern\": 99,\"ShiftRate\": 5,\"SplitChain\": false,\"InsideOut\": false,\"SelectSparks\": false,\"RGB\": 0,\"Brightness\": 255},{\"IP\": \"192.168.87.63\",\"Pattern\": 99,\"ShiftRate\": 5,\"SplitChain\": false,\"InsideOut\": false,\"SelectSparks\": false,\"RGB\": 0,\"Brightness\": 255}]}');\nvar newMsg = JSON.parse(global.get(\"DefVal\"));\nmsg = {payload: newMsg};\nreturn msg;","outputs":1,"noerr":0,"x":632,"y":1024,"wires":[["f799c59a.6a6018"]]},{"id":"a457ddd.589902","type":"inject","z":"42921a07.479624","name":"ProgInit","topic":"ProgInit","payload":"","payloadType":"date","repeat":"","crontab":"","once":true,"onceDelay":0.1,"x":111,"y":1021,"wires":[["1566c06c.9423a","c983ff7e.bb8ff"]]},{"id":"db3ecac0.e15d68","type":"debug","z":"42921a07.479624","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":844,"y":192,"wires":[]},{"id":"2e9933c5.4f697c","type":"function","z":"42921a07.479624","name":"Current Chain","func":"var chainVals = JSON.parse(global.get(\"DefVal\"));\nchainVals.CurrChain = msg.payload;\nglobal.set(\"DefVal\", JSON.stringify(chainVals));\nreturn msg;","outputs":1,"noerr":0,"x":626,"y":721,"wires":[["f799c59a.6a6018"]]},{"id":"c983ff7e.bb8ff","type":"function","z":"42921a07.479624","name":"InitVals","func":"var msg0 = {payload: 0};\nvar msgm1 = {payload: -1};\nvar msg15 = {payload: 15};\nvar msg255 = {payload: 255};\nvar msgfalse = {payload: true};\nvar msgrgb = {payload: 0x555555};\nreturn [msgm1, msg0, msg255. msg15, msgfalse, msgrgb];","outputs":6,"noerr":0,"x":180,"y":643,"wires":[["e00fabea.38a4a8","d62d7608.c5dbf8"],["63865d14.c36f34"],["141251d8.21f74e"],["8e97f508.2e5f88"],["f09ba029.06ecd","9e4bf2a.3d34f1","cec74292.0a4a6"],["353bffea.4d254"]]},{"id":"353bffea.4d254","type":"ui_colour_picker","z":"42921a07.479624","name":"","label":"Constant Color","group":"7d1b0c01.98bf34","format":"rgb","outformat":"string","showSwatch":true,"showPicker":true,"showValue":true,"showHue":true,"showAlpha":false,"showLightness":true,"dynOutput":"false","order":4,"width":0,"height":0,"passthru":true,"topic":"","x":422,"y":955,"wires":[["5cdb07b3.297d78","f799c59a.6a6018"]]},{"id":"8e97f508.2e5f88","type":"ui_slider","z":"42921a07.479624","name":"Shift Rate","label":"Shift Rate","group":"7d1b0c01.98bf34","order":6,"width":0,"height":0,"passthru":true,"topic":"","min":0,"max":"50","step":1,"x":406,"y":769,"wires":[["c66332b7.84fc8"]]},{"id":"f09ba029.06ecd","type":"ui_switch","z":"42921a07.479624","name":"Split Chain","label":"Split Chain","group":"7d1b0c01.98bf34","order":7,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":416,"y":817,"wires":[["56b3f3bb.45a48c"]]},{"id":"9e4bf2a.3d34f1","type":"ui_switch","z":"42921a07.479624","name":"Inside Out","label":"Inside Out","group":"7d1b0c01.98bf34","order":8,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":415,"y":862,"wires":[["f94879ed.6663d8"]]},{"id":"cec74292.0a4a6","type":"ui_switch","z":"42921a07.479624","name":"Add Sparks","label":"Add Sparks","group":"7d1b0c01.98bf34","order":9,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","x":414,"y":905,"wires":[["41f82469.b353ac"]]},{"id":"56b3f3bb.45a48c","type":"function","z":"42921a07.479624","name":"Store Split Chain","func":"var chainVals = JSON.parse(global.get(\"DefVal\"));\nfor (var i = 0; i < chainVals.LEDChains.length; i++)\n  if ((chainVals.CurrChain == -1) || (chainVals.CurrChain == i))\n        chainVals.LEDChains[i].SplitChain = msg.payload;\nglobal.set(\"DefVal\", JSON.stringify(chainVals));\nmsg = {payload:JSON.stringify(chainVals)};\nreturn msg;\n","outputs":1,"noerr":0,"x":629,"y":816,"wires":[["f799c59a.6a6018"]]},{"id":"41f82469.b353ac","type":"function","z":"42921a07.479624","name":"Store Add Sparks","func":"var chainVals = JSON.parse(global.get(\"DefVal\"));\nfor (var i = 0; i < chainVals.LEDChains.length; i++)\n  if ((chainVals.CurrChain == -1) || (chainVals.CurrChain == i))\n        chainVals.LEDChains[i].SelectSparks = msg.payload;\nglobal.set(\"DefVal\", JSON.stringify(chainVals));\nmsg = {payload:JSON.stringify(chainVals)};\nreturn msg;\n","outputs":1,"noerr":0,"x":629,"y":905,"wires":[["f799c59a.6a6018"]]},{"id":"f94879ed.6663d8","type":"function","z":"42921a07.479624","name":"Store Inside Out","func":"var chainVals = JSON.parse(global.get(\"DefVal\"));\nfor (var i = 0; i < chainVals.LEDChains.length; i++)\n  if ((chainVals.CurrChain == -1) || (chainVals.CurrChain == i))\n        chainVals.LEDChains[i].InsideOut = msg.payload;\nglobal.set(\"DefVal\", JSON.stringify(chainVals));\nmsg = {payload:JSON.stringify(chainVals)};\nreturn msg;\n","outputs":1,"noerr":0,"x":619,"y":862,"wires":[["f799c59a.6a6018"]]},{"id":"c66332b7.84fc8","type":"function","z":"42921a07.479624","name":"Store Shift Rate","func":"var chainVals = JSON.parse(global.get(\"DefVal\"));\nfor (var i = 0; i < chainVals.LEDChains.length; i++)\n  if ((chainVals.CurrChain == -1) || (chainVals.CurrChain == i))\n        chainVals.LEDChains[i].ShiftRate = msg.payload;\nglobal.set(\"DefVal\", JSON.stringify(chainVals));\nnewMsg = {payload:chainVals}\nreturn newMsg;","outputs":1,"noerr":0,"x":624,"y":768,"wires":[["f799c59a.6a6018"]]},{"id":"5cdb07b3.297d78","type":"function","z":"42921a07.479624","name":"Store Color","func":"var newCol = parseInt(\"0x\" + msg.payload);\nvar chainVals = JSON.parse(global.get(\"DefVal\"));\nfor (var i = 0; i < chainVals.LEDChains.length; i++)\n  if ((chainVals.CurrChain == -1) || (chainVals.CurrChain == i))\n        chainVals.LEDChains[i].RGB = newCol;\n//global.set(\"DefVal\", JSON.stringify(chainVals));\nmsg = {payload:JSON.stringify(chainVals)};\nreturn msg;\n","outputs":1,"noerr":0,"x":638,"y":955,"wires":[[]]},{"id":"a9159ed7.2099a","type":"ui_button","z":"42921a07.479624","name":"UpdateChain","group":"7d1b0c01.98bf34","order":0,"width":0,"height":0,"passthru":false,"label":"Update Light Chains","color":"","bgcolor":"","icon":"","payload":"1","payloadType":"num","topic":"","x":414,"y":997,"wires":[["dae9d9be.c09e18"]]},{"id":"7d1b0c01.98bf34","type":"ui_group","z":"","name":"Display Status","tab":"527fd4e3.8f5a5c","order":1,"disp":true,"width":"6","collapse":false},{"id":"527fd4e3.8f5a5c","type":"ui_tab","z":"","name":"Outside Lights","icon":"dashboard","order":1}]
